# Lesson 3: Boolean Indexing & Masking (New Dataset)
**Goal (~15 min):** Filter, combine conditions, and modify with masks.

## Setup & Headers (kept separate)

In [ ]:
import numpy as np
header = ["age","income_k","score","years_experience","credit_rating"]
data = np.array([
    [25, 50, 72,  2, 600],
    [32, 80, 88,  6, 720],
    [41,120, 55, 15, 680],
    [29, 60, 45,  4, 590],
    [36, 90, 95,  8, 750],
    [50,150, 62, 20, 710]
], dtype=float)
print("Headers:", header); print("\nData:\n", data)

## Single & Combined Conditions

In [ ]:
mask_age = data[:,0] > 35
print("age>35:\n", data[mask_age])
mask_income_credit = (data[:,1] >= 80) & (data[:,4] >= 700)
print("\nincome>=80 & credit>=700:\n", data[mask_income_credit])

## Modify with Masks

In [ ]:
data_mod = data.copy()
data_mod[data_mod[:,3] > 10, 2] += 5  # score += 5 if years_exp>10
print("modified (score boosts where years_exp>10):\n", data_mod)

## Exercise
1) credit<650 rows
2) income in [60,100]
3) score=0 for age<30 (on a copy)
4) Count score > mean(score)