# Lesson 6: Statistical Summaries
**Goal (~15 min):** Column-wise mean/std/min/max/percentiles and simple outlier flags.

## Load Data

In [ ]:
import numpy as np
with open("sample_data.csv","r") as f: header = f.readline().strip().split(",")
data = np.loadtxt("sample_data.csv", delimiter=",", skiprows=1)
print("Headers:", header); print("Shape:", data.shape)

## Column Stats

In [ ]:
means = data.mean(axis=0); stds = data.std(axis=0)
mins = data.min(axis=0); maxs = data.max(axis=0)
p25 = np.percentile(data, 25, axis=0); p75 = np.percentile(data, 75, axis=0)
print("means:", means); print("stds:", stds)
print("mins:", mins); print("maxs:", maxs)
print("p25:", p25); print("p75:", p75)

## Z-score Example on credit_rating

In [ ]:
credit = data[:,-1]; z = (credit - credit.mean())/credit.std()
print("z-scores:", np.round(z, 2))
print("outliers (|z|>2):\n", data[np.abs(z)>2])

## Exercise
1) score mean/std; z-normalize score
2) 25th & 75th of income_k
3) Rows with income_k > 75th