# Lesson 2: Indexing, Slicing & Boolean Masking
**Goal (~15 min):** Select rows/cols, slice subarrays, and filter with masks.

## Setup

In [ ]:
import numpy as np
np.set_printoptions(edgeitems=4, linewidth=120)

## Data

In [ ]:
data = np.array([[25,50,72,2],
                 [32,80,88,6],
                 [41,120,55,15],
                 [29,60,45,4],
                 [36,90,95,8],
                 [50,150,62,20]], dtype=float)
header = ["age","income_k","score","years_experience"]
print("data:\n", data)

## Indexing & Slicing

In [ ]:
print("row 0:", data[0])
print("col 2 (score):", data[:,2])
print("rows 1..3 & cols 1..2:\n", data[1:4, 1:3])

## Boolean Masks

In [ ]:
mask_age = data[:,0] > 35
print("age>35 mask:", mask_age)
print("rows age>35:\n", data[mask_age])

## Exercise
1) Rows with income â‰¥ 80 and credit rating? (add a 5th col to test)
2) Set score=0 where age<30 (work on a copy).